<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{adminBase}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body layout:fragment="adminContent">
<script>
    $(document).ready(function () {
        $("#leagueFilter").on('change', function () {
            $("#matchList").empty();
            var leagueId = $(this).find("option:selected").attr('data');
            var template = ""
            $.ajax({
                url: "/rest/filterByLeague/" + leagueId,
                success: function (response) {
                    $.each(response, function (index, match) {
                        template += "<tr><td></td><td scope='col'><span>" + match.begindate + " | " + match.name + "</span></td><td>" +
                            "<button onclick=\"setIdForUpdate(" + match.id + ")\" type=\"button\"" +
                            " class=\"btn btn-warning\" data-toggle=\"modal\" data-target=\"#updateMatch\" id=\"matchBtn\">\n" +
                            "Update" + "</button>" +
                            " <button type=\"button\" class=\"btn btn-danger\" data-toggle=\"modal\" data-target=\"#deleteModal\"\n" +
                            " onclick=\"setIdForDelete(" + match.id + ")\">Delete" +
                            " </button>" +
                            "<a class='btn btn-dark ml-2' href='/adminPanel/details/" + match.id + "'>Go to details</a>"
                            + "</td></tr>"
                    })
                    console.log(template)
                    $("#matchList").html(template)
                }
            })

        })
        $('.edit-league').on('click', function () {
            let leagueId = $(this).attr('data');
            $.ajax({
                url: "rest/getLeagueData/" + leagueId,
                method: 'GET',
                success: function (response) {
                    $('#updateLeaugueName').val(response.name)
                    $('#logoUrlForUpdate').val(response.logoUrl)
                    $('#updateLeagueId').val(response.id);
                }
            })
        })
        $("#btn-add-match").on('click', function () {
            $("#leagues").innerHTML = "";
            $("#leagues").append('<option selected disabled>Choose League</option>')

            $.ajax({
                url: "/rest/getAllLeagues",
                success: function (response) {
                    $.each(response, function (index) {
                        console.log(response)
                        $("#leagues").append('<option value="' + response[index].id + '">' + response[index].name + '</option>')
                    })
                }
            })
        })
        //Delete League
        $('.delete-league').on('click', function () {
            $("#leagueIdForDelete").val($(this).attr('data'));

        })
        $('#save-match-btn').on('click', function () {
            if ($("#leagues").children("option:selected").val() !== "Choose League") {
                $("#addMatchForm").submit();
            } else {
                $("#addMatchForm").css({border: " 1px solid red"})
            }
        })
    })


    function setIdForDelete(id) {
        document.getElementById("matchId").value = id;
    }

    function setIdForUpdate(id) {
        document.getElementById("matchIdForUpdate").value = id;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var json = JSON.parse(JSON.stringify(xhttp.responseText));
                json = json.replace("{[", "")
                json = json.replace("]}", "")
                var matchHeader = json.split(",")[0]
                console.log(matchHeader)
                document.getElementById("updateHeader").value = matchHeader
                var matchBeginDate = json.split(",")[1]
                matchBeginDate = matchBeginDate.substring(0, matchBeginDate.length - 5)
                var date = matchBeginDate.split(" ")[0]
                console.log(date)
                var time = matchBeginDate.split(" ")[1]
                console.log(time)
                date = date.split("-")[1] + "/" + date.split("-")[2] + "/" + date.split("-")[0]
                date = date.replace("-", "/")
                date = date.replace("-", "/")
                matchBeginDate = time + " " + date
                document.getElementById("inputUpdate").value = matchBeginDate;
            }
        };
        xhttp.open("GET", "/match/" + id, true);
        xhttp.send();
    }


</script>

<div class="container page-container">
    <div class="row mx-auto">

        <div class="col col-md-12 mt-5 mb-5">
            <p class="text"> Leauges:</p>
            <table class="table">
                <thead>
                <th class="">#</th>
                <th class="">Leauge name</th>
                <th class="">Actions</th>
                </thead>
                <tbody>
                <tr th:each="league:${leagueList}">
                    <td scope="col"></td>
                    <td scope="col" th:text="${league.name}"></td>
                    <td scope="col">
                        <button type="submit" class="btn btn-warning edit-league" data-toggle="modal"
                                th:data="${league.id}"
                                data-target="#updateLeauge">
                            Edit
                        </button>

                        <input type="submit" class="btn btn-danger delete-league" data-toggle="modal"
                               th:data="${league.id}"
                               data-target="#deleteLeagueModal"
                               value="Delete"/>
                    </td>
                </tr>

                </tbody>

            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLeague">
                Add New Leauge
            </button>
        </div>
        <div class="clearfix mt-5 mb-5"></div>
        <div class="col col-md-12 mt-5 mb-5">
            <select class="form-control col-xs-4 mb-1 mt-1" id="leagueFilter">
                <option selected th:data="${0}">Filter by league</option>
                <th:block th:each="l:${leagueList}">
                    <option th:data="${l.id}" th:text="${l?.name}"></option>
                </th:block>

            </select>
            <table class="table">
                <thead>
                <th class="">#</th>
                <th class="">Game name & begin date</th>
                <th class="">Actions</th>
                </thead>
                <tbody id="matchList">
                <tr th:each="match:${matchList}">
                    <td scope="col"></td>
                    <td scope="col"><span
                            th:text="${#dates.format(match.beginDate, 'HH:mm')+' | '+match.header}"></span></td>
                    <td scope="col">
                        <button th:onclick="|setIdForUpdate(${match.id})|" type="button"
                                class="btn btn-warning" data-toggle="modal" data-target="#updateMatch" id="matchBtn">
                            Update
                        </button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                th:onclick="|setIdForDelete(${match.id})|">Delete
                        </button>
                        <a class="btn btn-dark" th:href="${'/adminPanel/details/'+match.id}">Go to
                            Details</a>
                    </td>
                </tr>

                </tbody>

            </table>
            <button type="button" class="btn btn-primary" id="btn-add-match" data-toggle="modal"
                    data-target="#addMatch">
                Add New Match
            </button>
        </div>


    </div>

</div>
<!-- Modals -->
<div class="modal fade" id="addMatch" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Match Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="GET" action="/adminPanel/addMatch" id="addMatchForm" class="" autocomplete="off">
                <div class="modal-body">

                    <input type="text" name="header" class="form-control mb-1"
                           placeholder="Match Header">
                    <input id="input" th:width="auto" name="beginDate">
                    <script>
                        $('#input').datetimepicker({
                            uiLibrary: 'bootstrap4',
                            modal: true,
                            footer: true
                        });
                    </script>
                    <select name="leagueId" id="leagues" class="custom-select mt-1" required>

                    </select>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="save-match-btn">Save changes</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal fade" id="addLeague" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leauge Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/adminPanel/addLeague" class="" autocomplete="off">
                <div class="modal-body">

                    <input type="text" name="name" class="form-control mb-1"
                           placeholder="Leauge name">
                    <input type="url" name="logoUrl" class="form-control mb-1"
                           placeholder="Logo url" required>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal fade" id="updateMatch" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Match Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="GET" action="/adminPanel/updateMatch" class="">
                <div class="modal-body">

                    <input type="text" name="header" class="form-control mb-1"
                           placeholder="Match Header" id="updateHeader">
                    <input id="inputUpdate" th:width="auto" name="beginDate">
                    <script>
                        $('#inputUpdate').datetimepicker({
                            uiLibrary: 'bootstrap4',
                            modal: true,
                            footer: true
                        });
                    </script>
                    <input type="hidden" name="matchId" id="matchIdForUpdate">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal fade" id="updateLeauge" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Match Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/adminPanel/updateLeague" class="">
                <div class="modal-body">

                    <input type="text" name="name" class="form-control mb-1"
                           placeholder="Match Header" id="updateLeaugueName">
                    <input type="text" name="logoUrl" class="form-control mb-1"
                           placeholder="Match Header" id="logoUrlForUpdate">
                    <input type="hidden" name="leagueId" id="updateLeagueId">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Match Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <form action="/adminPanel/delete">
                <input type="hidden" name="matchId" id="matchId" value="0">

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteLeagueModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure?</p>
            </div>
            <form action="/adminPanel/deleteLeague">
                <input type="hidden" name="leagueId" id="leagueIdForDelete" value="0">

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
></script>

</body>
</html>
<script>
</script>
