<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{adminBase}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/onbir.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>LastRebound Game Details</title>
    <script>
        function setIdForDelete(id) {
            document.getElementById('selectedLink').value = id;

        }

        function setIdForUpdate(id) {
            document.getElementById('selectedLinkForUpdate').value = id;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var json = JSON.parse(JSON.stringify(xhttp.responseText));
                    document.getElementById('updateHeader').value = json.split(",")[0]
                    document.getElementById('updateUrl').value = json.split(",")[1]
                    document.getElementById('updateWidth').value = json.split(",")[2]
                    document.getElementById('updateHeight').value = json.split(",")[3]
                }
            };
            xhttp.open("GET", "/link/" + id, true);
            xhttp.send();
        }
    </script>
</head>

<body layout:fragment="adminContent">
<div class="container page-container">
    <section id="videoFrame">

        <div class="container">
            <div class="row">
                <div class="col">
                    <li class="list-group-item"><h3
                            th:text="${#dates.format(match.beginDate, 'HH:mm')+' | '+match.header}"></h3></li>
                    <h5>Match Links:</h5>
                    <table class="table">
                        <thead>
                        <th class="">#</th>
                        <th class="">Link Header</th>
                        <th class="">Iframe Size</th>
                        <th class="">Actions</th>
                        </thead>
                        <tbody>
                        <tr th:each="link:${match.linkList}">
                            <td scope="col"></td>
                            <td scope="col" th:text="${link.header}"></td>
                            <td scope="col" th:text="${'Width:'+link.iframeWidth +' Height:'+link.iframeHeight}"></td>
                            <td scope="col">
                                <button type="submit" class="btn btn-warning" data-toggle="modal"
                                        data-target="#updateLinkModal"
                                        th:onclick="'javascript:setIdForUpdate('+${link.id}+');'">
                                    Edit
                                </button>
                                <a class="btn btn-primary" th:href="${'/watch/'+link.id}">
                                    Preview
                                </a>
                                <input type="submit" class="btn btn-danger" data-toggle="modal"
                                       data-target="#myDeleteModal"
                                       value="Delete" th:onclick="'javascript:setIdForDelete('+${link.id}+');'"/>

                            </td>
                        </tr>

                        </tbody>

                    </table>
                    <h5>Add New Link:</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLink"
                    > Add
                        match link
                    </button>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="myDeleteModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Match Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/adminPanel/deleteLink">
                    <div class="modal-body">
                        <p>Are you want to delete this link?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="linkId" id="selectedLink"/>
                        <input type="submit" class="btn btn-danger" value="Yes"/>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="modal fade" id="addLink" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Match Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/adminPanel/addMatchLink" method="post">
                    <div class="modal-body">
                        <div class="form-inline">
                            <input type="text" name="header" class="form-control mb-1"
                                   placeholder="Link Header" required>
                            <input type="text" class="form-control" name="url" placeholder="Link Url" required>
                            <input type="text" class="form-control" name="width" placeholder="Iframe Width">
                            <input type="text" class="form-control" name="height" placeholder="Iframe Height">
                            <input type="hidden" th:value="${match.id}" name="matchId">
                        </div>

                        <div class="modal-footer">

                            <button type="submit" class="btn btn-warning">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
    <div class="modal fade" id="updateLinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Link Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/adminPanel/updateLink" method="post">
                    <div class="modal-body">
                        <div class="form-inline">
                            <input type="text" name="header" class="form-control mb-1"
                                   placeholder="Link Header" required id="updateHeader">
                            <input type="text" class="form-control" name="url" placeholder="Link Url" required
                                   id="updateUrl">
                            <input type="text" class="form-control" name="width" placeholder="Iframe Width"
                                   id="updateWidth">
                            <input type="text" class="form-control" name="height" placeholder="Iframe Height"
                                   id="updateHeight">
                            <input type="hidden" value="" id="selectedLinkForUpdate" name="linkId">
                        </div>

                        <div class="modal-footer">

                            <button type="submit" class="btn btn-warning">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

</body>

</html>